<?xml version="1.0" encoding="utf-8"?>
<ffjjgweb>
  <MobilePhoneFee>
    <!--公司ID-->
    <CompanyID>1060</CompanyID>
    <!--接口密码-->
    <InterfacePwd>q1w2e3</InterfacePwd>
    <Amounts>
      <Amount typeid="3000">10</Amount>
      <Amount typeid="3002">100</Amount>
    </Amounts>
    <!--订单类型（1：活动类型订单； 2：用户订单，非必填）-->
    <OrderSource>2</OrderSource>
    <!--提交ReqestKey-->
    <ReqestKey>asasa1</ReqestKey>
    <!--回调AccessKey-->
    <AccessKey>zvzvz2</AccessKey>
    <ReqURL_submit>http://test.800617.com:6001/submit.aspx</ReqURL_submit>
    <!--回调地址已经提供给接口商，更新时需要通知接口商同步更新-->
    <ResURL_callBack>http://w3c.tcddz.com/PayCenter/MobilePhoneFeeCallBack.aspx</ResURL_callBack>
  </MobilePhoneFee>
  <SendSMS>
    <ReqURL_SendSms>http://si.800617.com:4400/SendSms.aspx</ReqURL_SendSms>
    <un>ctyswse-29</un>
    <pwd>6945a7</pwd>
    <!--XXX为程序替换，修改请联系开发-->
    <msg>您在同城竞技馆兑换的XXX元话费已充值成功，感谢您对同城竞技馆的关注与支持，同城竞技馆将有更多的精彩活动期待您的参与。</msg>
  </SendSMS>
  <payConfig>
    <!--Yeepay-->
    <Y_LogFileName>e:/FFJJG/YeePay_HTML.txt</Y_LogFileName>
    <!--test-->
    <Y_MerId>10000432521</Y_MerId>
    <Y_KeyValue>8UPp0KE8sq73zVP370vko7C39403rtK1YwX40Td6irH216036H27Eb12792t</Y_KeyValue>
    <Y_NodeAuthorizationURL>http://tech.yeepay.com:8080/robot/debug.action</Y_NodeAuthorizationURL>
    <!---->
    <Y_CallBack>http://localhost/PayCenter/Yeepay_Callback.aspx</Y_CallBack>
    <!--EndYeepay-->
  </payConfig>
  <defaulthead1>http://localhost:7001/images/hu/head0.jpg</defaulthead1>
  <defaulthead2>http://localhost:7001/images/hu/head0.jpg</defaulthead2>
  <!--图片服务器地址-->
  <ImgServerURL>http://localhost:7001</ImgServerURL>
  <!--代理或管理员登录后进入后台的链接-->
  <LinkToGM>http://localhost:7002</LinkToGM>
  <!--论坛的链接，注意：结尾不加/-->
  <DNTBBSUrl>http://devserver-pc:7004</DNTBBSUrl>
  <!--论坛整合地址/-->
  <DNTBBSUrlTc>http://devserver-pc/tcjjgbbs</DNTBBSUrlTc>
  <payAmount>1100</payAmount>
  <PayUrlSettings>
    <!--0不启用跳转；1启用跳转-->
    <IsAllowRedirect>0</IsAllowRedirect>
    <add key="44" value="http://www.baidu.com/"/>
    <add key="15000" value="http://special.scol.com.cn/gamecenter/webpage/game_v.asp/"/>
  </PayUrlSettings>
  <ChangeGoldCoins>
    <!--1元宝兑换的金币数-->
    <GoldCoins>500</GoldCoins>
  </ChangeGoldCoins>
  <!--竞拍购买等级限制-->
  <SalesGlassceiling>
    <!--经验值-->
    <EmpiricalValue>360</EmpiricalValue>
  </SalesGlassceiling>

  <!--头像认证-->
  <HeadImgIdentify>
    <!--等级限制-->
    <Rank>1</Rank>
    <!--身份验证扣费-->
    <IDCard>50000</IDCard>
    <!--视频验证扣费-->
    <Video>100000</Video>
  </HeadImgIdentify>
</ffjjgweb>
