<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<section name="RewriterConfig" requirePermission="false" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler,URLRewriter"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="org.SendMessages.Service" value="http://service2.winic.org/Service.asmx"/>
		<add key="SpUrl" value="http://devserver-pc/UserCenter/userReg.aspx?spread="/>
		<add key="payUrl" value="http://localhost/"/>
		<add key="CMOPWebWS" value="http://localhost:7006/CMOPWebWS.asmx"/>
		<add key="ImageService" value="http://localhost:7001/ImageService.asmx"/>
		<add key="ResourceWS" value="http://localhost:7006/ResourceWS.asmx"/>
		<add key="SalesRoomWS" value="http://localhost:7006/SalesRoomWS.asmx"/>
		<add key="SpreadWS" value="http://localhost:7006/SpreadWS.asmx"/>
		<add key="ExpSvc" value="http://localhost:8091/ExpSvc.asmx"/>
	<add key="SocialCenterWS" value="http://localhost:7006/SocialCenterWS.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="TCJJGWebConnectionString" connectionString="Data Source=devserver-PC;Initial Catalog=TCJJGWeb;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<buildProviders>
				<add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
    -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpHandlers>
			<add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
		<httpModules>
			<add type="URLRewriter.ModuleRewriter,URLRewriter" name="ModuleRewriter"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<sessionState timeout="60"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<authorization>
			<allow users="?"/>
		</authorization>
	</system.web>
	<RewriterConfig>
		<Rules>
			<!--About-->
			<RewriterRule>
				<LookFor>~/About/AboutIndex.html</LookFor>
				<SendTo>~/About/AboutIndex.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/About/ContactUS.html</LookFor>
				<SendTo>~/About/ContactUS.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/About/CooperationPartner.html</LookFor>
				<SendTo>~/About/CooperationPartner.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/About/TermOfService.html</LookFor>
				<SendTo>~/About/TermOfService.aspx</SendTo>
			</RewriterRule>
			<!--s_helpcenter-->
			<RewriterRule>
				<LookFor>~/helpCenter/default.aspx</LookFor>
				<SendTo>~/helpcenter/newHander.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/default.html</LookFor>
				<SendTo>~/helpcenter/newHander.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/newHander.html</LookFor>
				<SendTo>~/helpcenter/newHander.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/matchAmp.html</LookFor>
				<SendTo>~/helpcenter/matchAmp.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/matchProcess.html</LookFor>
				<SendTo>~/helpcenter/matchProcess.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/service.html</LookFor>
				<SendTo>~/helpcenter/service.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/systemAffiche.html</LookFor>
				<SendTo>~/affiche/affiche.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Affiche/Affiche.html</LookFor>
				<SendTo>~/Affiche/Affiche.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/systemaffiche-(\d+).html</LookFor>
				<SendTo>~/helpcenter/systemaffiche.aspx?page=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/systemAfficheOpe-(\d+).html</LookFor>
				<SendTo>~/Affiche/AfficheDetail.aspx?a=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Affiche/AfficheDetail-(\d+).html</LookFor>
				<SendTo>~/Affiche/AfficheDetail.aspx?a=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/aunion/default.html</LookFor>
				<SendTo>~/helpcenter/aunion/default.aspx?a=0</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/aunion/default-(\d+).html</LookFor>
				<SendTo>~/helpcenter/aunion/default.aspx?a=$1</SendTo>
			</RewriterRule>
			<!--s_paycenter-->
			<RewriterRule>
				<LookFor>~/paycenter/default.html</LookFor>
				<SendTo>~/paycenter/default.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/paycenter/payresult.html</LookFor>
				<SendTo>~/paycenter/payresult.aspx</SendTo>
			</RewriterRule>
			<!--e_paycenter-->
			<!--s_usercenter-->
			<RewriterRule>
				<LookFor>~/usercenter/default.html</LookFor>
				<SendTo>~/usercenter/default.aspx</SendTo>
			</RewriterRule>
			<!--e_usercenter-->
			<!--s_index-->
			<RewriterRule>
				<LookFor>~/index/csw.html</LookFor>
				<SendTo>~/index/CheckSilverlight_Web.aspx</SendTo>
			</RewriterRule>
			<!--e_index-->
			<!--newsMatchCenter-->
			<RewriterRule>
				<LookFor>~/newscenter/default.html</LookFor>
				<SendTo>~/newscenter/default.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/newscenter/default-(\d+)-(\d+).html</LookFor>
				<SendTo><![CDATA[~/newscenter/default.aspx?typeid=$1&page=$2]]></SendTo>
			</RewriterRule>
			<!--newsMatchCenter-->
			<RewriterRule>
				<LookFor>~/ydtsc/default.html</LookFor>
				<SendTo><![CDATA[~/ydtsc/default.aspx]]></SendTo>
			</RewriterRule>
		</Rules>
	</RewriterConfig>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add type="URLRewriter.ModuleRewriter,URLRewriter" name="ModuleRewriter"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<!--此处删除Session是为了Url重写删除后无法使用Session因此重新添加了一个Session-->
			<remove name="Session"/>
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="HtmlHttpHandler" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
		<!--重复下载Flash客户端zhangsw
    <staticContent>
			<clientCache cacheControlMode="DisableCache"/>
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache"/>
			</customHeaders>
		</httpProtocol>-->
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="index.html"/>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IUserAcountSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IUserInfoSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IUserClaimSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IUserMessageSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IRichInfoSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IGangsControlSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IPartnerSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5242880" maxBufferSize="655360" maxReceivedMessageSize="655360" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IPackageSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
				<binding name="BasicHttpBinding_IPaySvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://devserver-pc:7005/UserAcountSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAcountSvc" contract="IUserAcountSvc" name="BasicHttpBinding_IUserAcountSvc"/>
			<endpoint address="http://devserver-pc:7005/UserInfoSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInfoSvc" contract="IUserInfoSvc" name="BasicHttpBinding_IUserInfoSvc"/>
			<endpoint address="http://devserver-pc:7005/UserClaimSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserClaimSvc" contract="IUserClaimSvc" name="BasicHttpBinding_IUserClaimSvc"/>
			<endpoint address="http://devserver-pc:7005/UserMessageSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserMessageSvc" contract="IUserMessageSvc" name="BasicHttpBinding_IUserMessageSvc"/>
			<endpoint address="http://devserver-pc:7005/RichInfoSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRichInfoSvc" contract="IRichInfoSvc" name="BasicHttpBinding_IRichInfoSvc"/>
			<endpoint address="http://devserver-pc:7005/GangsControlSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGangsControlSvc" contract="IGangsControlSvc" name="BasicHttpBinding_IGangsControlSvc"/>
			<endpoint address="http://devserver-pc:7005/PartnerSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPartnerSvc" contract="IPartnerSvc" name="BasicHttpBinding_IPartnerSvc"/>
			<endpoint address="http://devserver-pc:7005/PackageSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageSvc" contract="IPackageSvc" name="BasicHttpBinding_IPackageSvc"/>
			<endpoint address="http://devserver-pc:8089/PaySvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaySvc" contract="IPaySvc" name="BasicHttpBinding_IPaySvc"/>
		</client>
	</system.serviceModel>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
