<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCJJG.Web.DB.Properties.Settings.CMOPWebConnectionString3"
            connectionString="Data Source=DEVSERVER-PC;Initial Catalog=CMOPWeb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TCJJG.Web.DB.Properties.Settings.TCJJGWebConnectionString"
            connectionString="Data Source=devserver-pc;Initial Catalog=TCJJGWeb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TCJJG.Web.DB.Properties.Settings.TCJJGWebConnectionString1"
            connectionString="Data Source=devserver-pc;Initial Catalog=TCJJGWeb;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
