<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<section name="RewriterConfig" requirePermission="false" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler,URLRewriter" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="e:\ffjjg\tcjjgWeb.log" header="" footer="" formatter="Text Formatter" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)}|{processId}|{localProcessId}|{win32ThreadId}|{title}|{message}{newline}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Flat File Trace Listener" />
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Flat File Trace Listener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Flat File Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<appSettings>
		<add key="org.SendMessages.Service" value="http://service2.winic.org/Service.asmx" />
		<add key="SpUrl" value="http://devserver-pc/r.html?s=" />
		<add key="payUrl" value="http://devserver-pc/" />
		<add key="CMOPWebWS" value="http://devserver-pc:7006/CMOPWebWS.asmx" />
		<add key="ImageService" value="http://devserver-pc:7001/ImageService.asmx" />
		<add key="ResourceWS" value="http://devserver-pc:7006/ResourceWS.asmx" />
		<add key="SpreadWS" value="http://localhost:7006/SpreadWS.asmx" />
		<add key="SocialCenterWS" value="http://devserver-pc:7006/SocialCenterWS.asmx" />
	</appSettings>
	<connectionStrings>
		<add name="TCJJGWebConnectionString" connectionString="Data Source=devserver-PC;Initial Catalog=TCJJGWeb;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
			</buildProviders>
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Forms" />
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
    -->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		<httpHandlers>
			<add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory" />
		</httpHandlers>
		<httpModules>
			<add type="URLRewriter.ModuleRewriter,URLRewriter" name="ModuleRewriter" />
		</httpModules>
		<sessionState timeout="60" />
		<authorization>
			<allow users="?" />
		</authorization>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <identity impersonate="true" /></system.web>
	<RewriterConfig>
		<Rules>
      <RewriterRule>
        <LookFor>~/r.html</LookFor>
        <SendTo>~/UserCenter/UserReg-BaseInfo.aspx</SendTo>
      </RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/default.html</LookFor>
				<SendTo>~/helpcenter/newHander.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/newHander.html</LookFor>
				<SendTo>~/helpcenter/newHander.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/matchAmp.html</LookFor>
				<SendTo>~/helpcenter/matchAmp.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/matchProcess.html</LookFor>
				<SendTo>~/helpcenter/matchProcess.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/service.html</LookFor>
				<SendTo>~/helpcenter/service.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/systemAffiche.html</LookFor>
				<SendTo>~/affiche/affiche.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Affiche/Affiche.html</LookFor>
				<SendTo>~/Affiche/Affiche.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/systemaffiche-(\d+).html</LookFor>
				<SendTo>~/helpcenter/systemaffiche.aspx?page=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpCenter/systemAfficheOpe-(\d+).html</LookFor>
				<SendTo>~/Affiche/AfficheDetail.aspx?a=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Affiche/AfficheDetail-(\d+).html</LookFor>
				<SendTo>~/Affiche/AfficheDetail.aspx?a=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/aunion/default.html</LookFor>
				<SendTo>~/helpcenter/aunion/default.aspx?a=0</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/helpcenter/aunion/default-(\d+).html</LookFor>
				<SendTo>~/helpcenter/aunion/default.aspx?a=$1</SendTo>
			</RewriterRule>
			<!--s_paycenter-->
			<RewriterRule>
				<LookFor>~/paycenter/default.html</LookFor>
				<SendTo>~/paycenter/default.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/paycenter/payresult.html</LookFor>
				<SendTo>~/paycenter/payresult.aspx</SendTo>
			</RewriterRule>
			<!--e_paycenter-->
			<!--s_usercenter-->
			<RewriterRule>
				<LookFor>~/usercenter/default.html</LookFor>
				<SendTo>~/usercenter/default.aspx</SendTo>
			</RewriterRule>
			<!--e_usercenter-->
			<!--s_index-->
			<RewriterRule>
				<LookFor>~/index/csw.html</LookFor>
				<SendTo>~/index/CheckSilverlight_Web.aspx</SendTo>
			</RewriterRule>
			<!--e_index-->
			<!--newsMatchCenter-->
			<RewriterRule>
				<LookFor>~/newscenter/default.html</LookFor>
				<SendTo>~/newscenter/default.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/newscenter/default-(\d+)-(\d+).html</LookFor>
				<SendTo><![CDATA[~/newscenter/default.aspx?typeid=$1&page=$2]]></SendTo>
			</RewriterRule>
			<!--newsMatchCenter-->
			<RewriterRule>
				<LookFor>~/ydtsc/default.html</LookFor>
				<SendTo><![CDATA[~/ydtsc/default.aspx]]></SendTo>
			</RewriterRule>
		</Rules>
	</RewriterConfig>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add type="URLRewriter.ModuleRewriter,URLRewriter" name="ModuleRewriter" />
			<!--此处删除Session是为了Url重写删除后无法使用Session因此重新添加了一个Session-->
			<remove name="Session" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule" />
		</modules>
		<handlers>
			<!--<add name="HtmlHttpHandler" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />-->
		</handlers>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="index.html" />
				<add value="index.aspx" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".swz" mimeType="application/x-shockwave-flash" />
		</staticContent>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IUserAcountSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IUserInfoSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IUserClaimSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IUserMessageSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IRichInfoSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IGangsControlSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IPartnerSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5242880" maxBufferSize="655360" maxReceivedMessageSize="655360" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IPackageSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
				<binding name="BasicHttpBinding_IPaySvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://devserver-pc:8088/UserAcountSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAcountSvc" contract="IUserAcountSvc" name="BasicHttpBinding_IUserAcountSvc" />
			<endpoint address="http://devserver-pc:8088/UserInfoSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInfoSvc" contract="IUserInfoSvc" name="BasicHttpBinding_IUserInfoSvc" />
			<endpoint address="http://devserver-pc:8088/UserClaimSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserClaimSvc" contract="IUserClaimSvc" name="BasicHttpBinding_IUserClaimSvc" />
			<endpoint address="http://devserver-pc:8088/UserMessageSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserMessageSvc" contract="IUserMessageSvc" name="BasicHttpBinding_IUserMessageSvc" />
			<endpoint address="http://devserver-pc:8088/RichInfoSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRichInfoSvc" contract="IRichInfoSvc" name="BasicHttpBinding_IRichInfoSvc" />
			<endpoint address="http://devserver-pc:8088/GangsControlSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGangsControlSvc" contract="IGangsControlSvc" name="BasicHttpBinding_IGangsControlSvc" />
			<endpoint address="http://devserver-pc:8088/PartnerSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPartnerSvc" contract="IPartnerSvc" name="BasicHttpBinding_IPartnerSvc" />
			<endpoint address="http://devserver-pc:8088/PackageSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageSvc" contract="IPackageSvc" name="BasicHttpBinding_IPackageSvc" />
			<endpoint address="http://devserver-pc:8089/PaySvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaySvc" contract="IPaySvc" name="BasicHttpBinding_IPaySvc" />
		</client>
	</system.serviceModel>
</configuration>
