body
{
}
.Bigbody
{
    width: 695px;
    height: 100%;
    font-size: 12px;
    margin-left: 20px;
    color: rgb(53,53,53);
    float: right;
}
.D_SpreadContainer
{
    width: 978px;
    margin: 0 auto;
}
.ClearF
{
    clear: both;
}
/*******自定义控件**********/
.D_Help_UCContainer
{
    border: 1px solid #BCBCBC;
    height: 233px;
    width: 233px;
    float: left;
    background-color: rgb(246,246,246);
}
.ContentCenter
{
    display: block;
    width: 184px;
    height: 37px;
    background-image: url('../Images/CustomerService/tcjjg_2012__ucbg2.jpg');
    background-repeat: no-repeat;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    line-height: 37px;
    font-family: "黑体";
    font-size: 16px;
    color: #383838;
}
#CustomerServiceCenter
{
    background-image: url('../Images/CustomerService/tcjjg_2012__ucbg.jpg');
}
.D_CS_ContainerTop_Inner
{
    height: 117px;
    width: 184px;
    margin-left: 24.5px;
}
.CSSpace
{
    display: block;
    height: 22px;
}
/*****************/
/******奖励说明*******/
.top
{
    height: 30px;
    width: 100%;
}
.top div
{
    line-height: 26px;
    height: 26px;
    float: left;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}
.top1
{
    height: 26px;
    width: 10px;
    border-bottom: solid #CBCBCB 1px;
    margin-left: 0px;
}
.top5
{
    height: 26px;
    width: 480px; /*width: 406px;*/
    border-bottom: solid #CBCBCB 1px;
}
.top_none
{
    height: 26px;
    width: 4px;
    float: left;
    border-bottom: solid #CBCBCB 1px;
}
.top2
{
    height: 26px;
    width: 97px;
    float: left;
    text-align: center;
    color: #CBCBCB;
    background-color: #F6F6F6;
    border: solid #CBCBCB 1px;
    border-bottom-width: 0px;
    margin-top: -1px;
}
.top2 a
{
    color: #1B1B1B;
    text-decoration: none;
}
.top2 a:hove
{
    color: #CBCBCB;
    text-decoration: none;
}
.top4
{
    height: 26px;
    width: 97px;
    float: left;
    color: #FFFFFF;
    background-color: #F6F6F6;
    border: solid #CBCBCB 1px;
    margin-top: -1px;
}
.top4 a
{
    color: #717171;
    text-decoration: none;
}
.top4 a:hove
{
    color: #717171;
    text-decoration: none;
}

/* 中 */
.colorBor
{
    width: 100%;
    height: 30px;
    border: 1px #E3E3E3 solid;
    background-image: url('../Images/Spread/bgThin2.jpg');
    background-repeat: repeat-x;
}
.middle_left
{
    float: left;
    width: 340px;
    line-height: 28px;
    height: 28px;
    color: rgb(53,53,53);
    font-size: 14px;
    padding-left: 10px;
}
.middle_right
{
    float: left;
    width: 330px;
    line-height: 28px;
    height: 28px;
    color: #000;
    font-size: 14px;
}
.middle_right a, .middle_right a:hover, .middle_right a:active
{
    color: #000;
    text-decoration: none;
}
.buttom_text
{
    width: 100%;
}
.divNone
{
    width: 100%;
    height: 20px;
}

table.tableStyle
{
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 14px;
}
table.tableStyle td
{
    border-collapse: collapse;
    border: solid #BBBBBB 1px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.bottom-3
{
    width: 100%;
    height: 25px;
    color: Red;
    margin-top: 10px;
}
.spreadPanel
{
    padding-bottom: 20px;
}


/******************/