body {
}
.Bigbody 
{
    width: 695px; 
    height:100%;
    font-size:12px;
    margin-left: 20px;
    color:rgb(53,53,53);
 float:right;
}
.D_SpreadContainer
{
     width:978px;
      margin:0 auto;

    }
    .ClearF
    {
         clear:both;
        }
/*******自定义控件**********/
.D_Help_UCContainer
{
    border: 1px solid #BCBCBC;
    height: 233px;
    width: 233px;
    float: left;
    background-color: rgb(246,246,246);
}
.ContentCenter
{
    display: block;
    width: 184px;
    height: 37px;
    background-image: url('../Images/CustomerService/tcjjg_2012__ucbg2.jpg');
    background-repeat: no-repeat;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    line-height: 37px;
    font-family: "黑体";
    font-size: 16px;
    color: rgb(56,56,56);
}
#CustomerServiceCenter
{
    background-image: url('../Images/CustomerService/tcjjg_2012__ucbg.jpg');
}
.D_CS_ContainerTop_Inner
{
    height: 117px;
    width: 184px;
    margin-left: 24.5px;
}
.CSSpace
{
    display: block;
    height: 22px;
}
/*****************/


/*******获得奖品******/
.colorBor
{
    width: 100%;
    height: 30px;
    border:1px #E3E3E3 solid;
    background-image: url('../Images/Spread/bgThin2.jpg');
    background-repeat: repeat-x;
    line-height:30px;
    font-size:14px;
}
}
.middle_left
{
    float:left;
    width:340px;
    line-height: 30px;
    height: 30px;
    font-weight: 600;

    padding-left:10px;
}
.middle_right
{
    float:left;
    width:330px;
    line-height: 30px;
    height: 30px;
    color: #BBBBBB;
    font-size:14px;
}

table.tableStyle
{
    width: 100%;
    border-collapse:collapse;
    border:none;
    font-size: 14px;
}
table.tableStyle td 
{
    border-collapse:collapse;
	border:solid #BBBBBB 1px;
    font-size: 14px;
    text-align:center; 
}

.bottomBor
{
    width: 100%;
    height: 30px;
    margin-top:10px;
}
.bottomBor1
{
    float:left;
    width:217px;
    line-height: 30px;
    height: 30px;
    color: #B31A14;
    font-weight: 600;
    font-size:14px;
    padding-left:10px;
}
.bottomBor2
{
    float:left;
    width:379px;
    line-height: 30px;
    height: 30px;
    font-size:14px;
}
.bottomBor3
{
    float:left;
    width:88px;
    line-height: 30px;
    height: 30px;
    color: #000;
    font-size:14px;
}
.bottomBor3 a:hover
{
    color: #fff;
}
.bottom-3
{
    width: 100%;
    height: 25px;
    color:Red;
    margin-top:10px;
    font-size:14px;
}
